html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
	color: #62686f;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1, h2, h3, h4, h5, h6  {
 	color: #333;
  	font-weight: 300;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.main-header {
	margin-top:100px;
	padding: 1px;
	text-align: center;	
	background-image: url("../img/banner.jpg");	
}

.main-header__avatar{
	display: block;
	margin: 0 auto;
	margin-top:-70px;
	margin-bottom: 10px;
	border: 3px solid white;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
	border-radius: 999px;
}

.main-header h1 {
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-nav {
	text-align: center;
	background-color: #333;
}

.main-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav ul li {
	display: inline-block;
	margin: 15px 10px;	
}

.main-nav ul li a {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav ul li a:hover {
	text-decoration: underline;
}

.info-section {
	padding: 30px 60px;
	background-color: #fff;
}

.info-section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.info-section header {
	margin-top: -20px;
	margin-bottom:60px;
	text-align: center;
	/*overflow: hidden*/;
}

ul li.whatido__skill {
	float: left;
	width: 33.3%;
	text-align: center;
}

.whatido__skill h3 {
	margin-top: 120px;
}

.whatido__skill--code {
	background-image: url(../img/skill-code.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--design {
	background-image: url(../img/skill-design.png);
  	background-repeat: no-repeat;
  	background-position: center top;
}

.whatido__skill--product {
  	background-image: url(../img/skill-product.png);
  	background-repeat: no-repeat;
  	background-position: center top;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.info-section header h2 {
  	font-size: 28px;
  	text-transform: uppercase;
  	letter-spacing: 3px;
}

.info-section header h2:after {
	width: 12%;
  	margin: 0 auto;
  	padding: 5px 0;
	content: "";
  	display: table;
  	border-bottom: 3px solid black;
}

.info-section__description {
 	 font-style: italic;
}

ul.education-experience__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.education-experience__list li {
	text-align: left;
	margin-bottom: 50px;
}

.education-experience__list li img {
	float: left;
	width: 180px;
}

.education-experience__list li .content {
	padding-left: 20px;
	overflow: hidden;
}

.photos__list li {
	display: inline-block;
	float: left;
	padding: 10px;
	width: 25%;
}

.photos__list  img {
	width: 100%;
}

.get-in-touch__list li {
	display: inline-block;
	float: left;
	padding: 10px;
	width: 25%;
	text-align: center;
}

.get-in-touch__list  img {
	width: 100%;
}

.contact input,
.contact textarea {
	width: 100%;
	padding: 10px;
  	border: 1px solid #ccc;
 	border-radius: 4px;
}

.contact textarea {
	height: 100px;
}

.contact label {
	position: absolute;
	margin-top:10px;
	margin-right: 10px;
	text-align: right;
	right: 100%;
	width: 100px;
}

.contact button {
	width: 100%;
	height: 40px;
	border: none;
  	border-radius: 9999px;

 	background: #ffd524;

  	cursor: pointer;
 	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  	color: #fff;
  	box-shadow: 0 3px 0 #daae1d;
}

.contact form {
	width: 40%;
	margin: 0 auto;
}

.contact ul  li {
	position: relative;
	margin: 10px auto;
	width: 100%;
}

@media only screen and (max-width : 480px) {
	.container {
		width: 100%;
	}

	.main-header h1 {
		font-size: 32px;
	}

	.main-nav ul {
		overflow: hidden;
	}

	.main-nav ul li {
		display: block;
	}

	.info-section {
		padding: 10px;
	}

	ul li.whatido__skill {
		width: 100%;
		margin-bottom: 40px;
	}

	.education-experience__list li img {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.education-experience header h2 span {
		display: block;
	}

	.photos__list li {
		display: block;
		width: 100%;
		float: none;
	}

	.get-in-touch__list li {
		width: 50%;
	}

	.contact form {
		width: 100%;
	}
	
	.contact label {
		position: static;
	}
}
